/.lein-*
/.nrepl-port
/checkouts
/classes
/gh-pages
/unzipped-jdk-source
/target
autodoc.sh
pom.xml
pom.xml.asc
*.jar
!not-a.jar
*.class
.cljs_nashorn_repl/
nashorn_code_cache/
.cljs_node_repl/
.clj-kondo/.cache
