{:paths ["src" "java" "resources" "target/classes"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}}

 :aliases
 {:1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.4"}}}
  :1.12 {:override-deps {org.clojure/clojure {:mvn/version "1.12.4"}}}

  :test {:extra-paths ["test"
                       "test-resources"
                       "test-resources/java"
                       "test-resources/not-a.jar"
                       "test-resources/java-invalid"
                       "does-not-exist.jar"
                       "target/test-classes"]
         :extra-deps {nubank/matcher-combinators {:mvn/version "3.9.1"
                                                  :exclusions [org.clojure/clojure]}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :jvm-opts ["-Dclojure.main.report=stderr"]
         :main-opts ["-m" "cognitect.test-runner"]}

  :cljs {:extra-paths ["test-cljs"]
         :extra-deps {org.clojure/clojurescript {:mvn/version "1.12.134"}}}

  :cljfmt {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.15.6"}}
           :main-opts ["-m" "cljfmt.main"]}

  :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.01.19"}}
              :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"]}

  :eastwood {:extra-deps {jonase/eastwood {:mvn/version "1.4.3"}}
             :main-opts ["-m" "eastwood.lint"
                         "{:source-paths [\"src\"] :test-paths [\"test\"]}"]}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.6"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}}}
