{:output            {:progress true}
 :config-in-comment {:linters {:unused-value         {:level :off}
                               :unresolved-namespace {:level :off}}}
 :linters           {:unused-private-var {:level   :warning
                                          :exclude [orchard.query-test/a-private orchard.query-test/docd-fn]}
                     :unresolved-symbol  {:exclude [(clojure.test/is [match?])]}
                     ;; Enable this opt-in linter:
                     :unsorted-required-namespaces {:level :warning}}}
