version: 2.1

######################################################################
#
# Start of general purpose config. These can plausibly go into orbs
#
######################################################################

# Default settings for executors

defaults: &defaults
  working_directory: ~/repo

env_defaults: &env_defaults
  LEIN_ROOT: "true"   # we intended to run lein as root

jdk8_env_defaults: &jdk8_env_defaults
  JVM_OPTS: -Xmx3200m

newer_jdk_env_defaults: &newer_jdk_env_defaults
  JVM_OPTS: -Xmx3200m --illegal-access=deny

# Runners for OpenJDK 8 and 11

executors:
  openjdk8:
    docker:
      - image: circleci/clojure:openjdk-8-lein-2.9.1
    environment:
      <<: *env_defaults
      <<: *jdk8_env_defaults
    <<: *defaults
  openjdk11:
    docker:
      - image: circleci/clojure:openjdk-11-lein-2.9.1
    environment:
      <<: *env_defaults
      <<: *newer_jdk_env_defaults
    <<: *defaults
  openjdk16:
    docker:
      - image: circleci/clojure:openjdk-16-lein-2.9.5-buster
    environment:
      <<: *env_defaults
      <<: *newer_jdk_env_defaults
    <<: *defaults
  openjdk17:
    docker:
      - image: circleci/clojure:openjdk-17-lein-2.9.5-buster
    environment:
      <<: *env_defaults
      <<: *newer_jdk_env_defaults
    <<: *defaults

# Runs a given set of steps, with some standard pre- and post-
# steps, including restoring of cache, saving of cache.
#
# we also install `make` here.
#
# Adapted from https://github.com/lambdaisland/meta/blob/master/circleci/clojure_orb.yml

commands:
  with_cache:
    description: |
      Run a set of steps with Maven dependencies and Clojure classpath cache
      files cached.
      This command restores ~/.m2, .cpcache and such if they were previously cached,
      then runs the provided steps, and finally saves the cache.
      The cache-key is generated based on the contents of `deps.edn` present in
      the `working_directory`.
    parameters:
      steps:
        type: steps
      jdk_version:
        description: Will be used as part of the cache key. Especially important for unzipped-jdk-source
        type: string
      clojure_version:
        description: Will be used as part of the cache key. Especially important for unzipped-jdk-source
        type: string
      files:
        description: Files to consider when creating the cache key
        type: string
        default: "deps.edn project.clj build.boot"
      cache_version:
        type: string
        description: "Change this value to force a cache update"
        default: "1"
    steps:
      - run:
          name: Install make
          command: |
            sudo apt-get install make
      - run:
          name: Generate Cache Checksum
          command: |
            for file in << parameters.files >>
            do
              find . -name $file -exec cat {} +
            done | shasum | awk '{print $1}' > /tmp/clojure_cache_seed
      - restore_cache:
          key: clojure-<< parameters.cache_version >>-<< parameters.jdk_version >>-<< parameters.clojure_version >>-{{ checksum "/tmp/clojure_cache_seed" }}
      - steps: << parameters.steps >>
      - save_cache:
          paths:
            - ~/.m2
            - .cpcache
            - unzipped-jdk-source
          key: clojure-<< parameters.cache_version >>-<< parameters.jdk_version >>-<< parameters.clojure_version >>-{{ checksum "/tmp/clojure_cache_seed" }}

# The jobs are relatively simple. One runs utility commands against
# latest stable JDK + Clojure, the other against specified versions

jobs:

  util_job:
    description: |
      Running utility commands/checks (linter etc.)
      Always uses Java11 and Clojure 1.10
    parameters:
      jdk_version:
        description: Version of JDK to test against
        type: string
      steps:
        type: steps
    executor: << parameters.jdk_version >>
    environment:
      VERSION: "1.10"
    steps:
      - checkout
      - with_cache:
          cache_version: "util-job-v1"
          jdk_version: << parameters.jdk_version >>
          clojure_version: "1.10"
          steps: << parameters.steps >>


  test_code:
    description: |
      Run tests against given version of JDK and Clojure
    parameters:
      jdk_version:
        description: Version of JDK to test against
        type: string
      clojure_version:
        description: Version of Clojure to test against
        type: string
      test_profiles:
        description: Maps directly to the TEST_PROFILES var in Makefile
        type: string
    executor: << parameters.jdk_version >>
    environment:
      VERSION: << parameters.clojure_version >>
      TEST_PROFILES: << parameters.test_profiles >>
    steps:
      - checkout
      - with_cache:
          jdk_version: << parameters.jdk_version >>
          clojure_version: << parameters.clojure_version >>
          cache_version: "test_code-v2"
          steps:
            - run:
                name: Running tests
                command: make test

######################################################################
#
# End general purpose configs
#
######################################################################


# The ci-test-matrix does the following:
#
# - run tests against the target matrix
#   - Java 8 and 11
#   - Clojure 1.8, 1.9, 1.10, master
# - linter, eastwood and cljfmt
# - runs code coverage report

workflows:
  version: 2.1
  ci-test-matrix:
    jobs:
      - test_code:
          matrix:
            parameters:
              jdk_version: [openjdk8, openjdk11, openjdk16, openjdk17]
              clojure_version: ["1.8", "1.9", "1.10", "master"]
              test_profiles: ["+test", "+test,+no-dynapath"]
      - util_job:
          # This step exercises JDK8 specifically. Eastwood, given its runtime-based approach can detect problems specific to JDK8
          # (specifically, it will analyze the `java.legacy-parser` ns):
          name: Code Linting, JDK8 (Eastwood only)
          jdk_version: openjdk8
          steps:
            - run:
                name: Running Eastwood
                command: |
                  make eastwood
      - util_job:
          name: Code Linting, (latest LTS JDK)
          jdk_version: openjdk17
          steps:
            - run:
                name: Running cljfmt
                command: |
                  make cljfmt
            - run:
                name: Running clj-kondo
                command: |
                  make kondo
            - run:
                name: Running Eastwood
                command: |
                  make eastwood
